<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Confirmation of Registration - Escort</title>
</head>

<body style="margin:0; padding:0; background-color:#f4f4f4;">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color:#f4f4f4; padding: 20px 0;">
        <tr>
            <td align="center">
                <!-- Main container -->
                <table width="700" cellpadding="0" cellspacing="0"
                    style="background-color:#ffffff; border:1px solid #dddddd; font-family:Arial, sans-serif; color:#2b3d50;">

                    <!-- Header with background and logo -->
                    <tr>
                        <td style="background-color:#0c223d; padding: 20px;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="text-align: left;">
                                        <img src="http://127.0.0.1:8000/assets/app/img/logo.png" alt="E4U Logo"
                                            style="height: 50px;">
                                    </td>
                                    <td style="text-align: right; color: #ffffff; font-size: 16px; font-weight: bold;">
                                        Confirmation of Registration - Escort [Title]<br>
                                        <span style="font-size: 13px; color: #cccccc;">Member ID: [Member ID]</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Content Padding -->
                    <tr>
                        <td style="padding: 30px;">

                            <!-- Greeting -->
                            <p style="font-size: 16px; margin: 0 0 15px 0;"><b>Dear [salutation (> My Account > Edit My
                                    Account > About Me > My Name)],</b></p>

                            <!-- Main Message -->
                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                We are please to confirm your Registration has been accepted and you can now log into
                                the Escort Console and proceed to create Profiles and Tours.
                            </p>
                            <p style="font-size: 16px; margin: 30px 0 15px 0;"><b>Logging in</b></p>
                            <p style="font-size: 16px; margin: 0 0 15px 0;">The following information will assist you when logging in:</p>
                            <!-- Details Table -->
                            <table width="100%" cellpadding="5" cellspacing="0"
                                style="border-collapse: collapse; font-size: 14px; color: #2b3d50;">
                                <tr>
                                    <td style="font-weight: bold; padding: 10px 0px;">Web address: </td>
                                    <td style="padding: 10px 0px 10px 10px">http://www.e4u.com.au/</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; padding: 10px 0px;">Username: </td>
                                    <td style="padding: 10px 0px 10px 10px">[Mobile] (your mobile number)</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold; padding: 10px 0px;">Password:</td>
                                    <td style="padding: 10px 0px 10px 10px">[Password] (please note passwords are case
                                        sensitive)</td>
                                </tr>
                            </table>
                            <div
                                style="display: flex; align-items: self-start; justify-content: flex-start; gap:10px; margin: 10px 0;">
                                <span style="font-size: 14px;"><b>Note: </b></span>
                                <p style="margin: 0px; font-size: 14px;">Your logging in process is also subject to SMS 2FA verification. It is a good idea to bookmark
                                    the Website.</p>
                            </div>
                            <!-- Closing -->

                            <p style="font-size: 16px; margin: 30px 0 15px 0;"><b>My Account</b></p>


                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                Now that you have completed your Registration, before you can create any Profiles or
                                Tours, you need to spend a little time setting up your Account information. This will make
                                your experience when creating a Profile or Tour much easier and quicker for you.

                            <p  style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">Simply log in and go to ‘My Account’ and complete the following important settings:</p>
                            <ul style="padding-left: 20px; font-size: 15px; line-height: 1.6;">
                                <li>Edit my Account - ‘About me’ and ‘Profile and Tour Options’ (some settings are
enabled by default)</li>
                                <li>Profile Information - ‘My Additional Information’, ‘My Available Times’, ‘My
                                    Playmates’, ‘My Rates’, ‘My Service (tags)’ and ‘My Social Media’; and</li>
                                <li>Notifications & Features (some settings are enabled by default)</li>
                            </ul>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px; ">
                                Once you have completed these important settings, then next go to Media, and upload your
photos and video and select which will be your default Media. You can verify your photos
here.
                            </p>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                All of these Account settings have help information to assist you. You only have to do this
                                once, but you can change any of the information by either going back to these settings, or
                                by updating them when you create a Profile. This is particularly helpful when creating
                                multiple Profiles for your Location or for a Tour.
                            </p>
                            <p style="font-size: 16px; margin: 30px 0 15px 0;"><b>Appointing an Agent</b></p>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                If you haven’t already, you can appoint a Support Agent at any time. Simply log in and go
                                to Communication > Agent Request, and complete the form. A Support Agent can assist
                                you with all matters to do with your Account, Media, Profiles, Tours and Concierge
                                Services. We highly recommend you appoint a Support Agent, although this is optional.
                            </p>
                            <p style="font-size: 16px; margin: 30px 0 15px 0;"><b>Browsers</b></p>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                For the best performance of the Website we recommend you use the latest version of a
modern browser. The Website is best supported by Chrome, Firefox and Edge.
                            </p>

                            <p style="font-size: 16px; margin: 30px 0 15px 0;"><b>How to Contact Us</b></p>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                Our goal is to deliver an excellent service and user experience to you. Please don't
hesitate to get in touch if you require any assistance, or contact your Support Agent if you
have appointed one. You can reach the E4U Help Desk by logging a 'Support Ticket' from
your Dashboard, or by forwarding a message from the ‘Contact Us’ page located in the
Website footer.
                            </p>

                            <p style="font-size: 15px; line-height: 1.6; margin-bottom: 15px;">
                                Welcome to Escorts4U, we hope your experience with us is a pleasant one.                            </p>
                            <!-- Closing -->
                            <p style="font-size: 15px; margin-top: 20px;">
                                Regards,<br>
                                <b>E4U - Operations</b>
                            </p>

                        </td>
                    </tr>

                </table>

                <!-- Footer -->
                <table width="700" cellpadding="0" cellspacing="0"
                    style="background-color:#0c223d; padding: 15px 30px; font-family:Arial, sans-serif; line-height: 1.6; color:#ffffff; font-size:14px; text-align:center;">
                    <tr>
                        <td>
                            <em>This is an automatically generated email by the Escorts4U Operations Centre.<br>
                                &copy; Copyright 2024 Blackbox Tech Pty Ltd. All rights reserved.</em>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>

</html>