.register-section {
    padding: 100px 8%;
}

.home-banner {
    padding: clamp(20px, 4vw, 120px) 0px;
}

.containers {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 70px;
    align-items: center;
}

.home-right-half p {
    color: #666;
    line-height: 1.8;
    font-size: clamp(14px, 4vw, 17px);
    max-width: 685px;
}


/* IMAGE */

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    display: block;
    border-radius: 24px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, .12);
}

.badge {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #ff3c5f;
    color: #fff;
    padding: 10px 18px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}


/* CONTENT */

.reg-content small {
    color: #ff3c5f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.reg-content h2 {
    font-size: clamp(30px, 4vw, 48px);
    line-height: 1.1;
    margin: 15px 0 25px;
    color: #132847;
}

.reg-content p {
    font-size: clamp(14px, 4vw, 17px);
    line-height: 1.9;
    color: #666;
    margin-bottom: 18px;
    text-align: justify;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 35px 0;
}

.feature {
    background: #fff;
    padding: 16px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .05);
    font-weight: 500;
    transition: .3s;
}

.feature:hover {
    transform: translateY(-5px);
}

.buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    margin-top: 40px;
}

a.home-btn {
    text-decoration: none;
    line-height: 15px;
}

.home-btn {
    padding: 16px 34px;
    border-radius: 50px;
    font-weight: 600;
    transition: .35s;
}

.hero_right h1 {
    font-size: clamp(24px, 4vw, 48px);
    line-height: 1.1;
    color: #132847;
    margin-bottom: 25px;
}

.hero_right h1 span {
    color: #ff3c5f;
}

.hero_features {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.hero_feature {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #fff;
    padding: 10px 15px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    font-weight: 600;
    transition: .35s;
    width: max-content;
}

.hero_feature:hover {
    transform: translateY(-5px);
}

.hero_feature span {
    width: 50px;
    height: 50px;
    background: #fff1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #ff3c5f;
}

.hero-btn {
    padding: 16px 34px;
    border-radius: 50px;
    font-weight: 600;
    transition: .35s;
}

.hero-btn:last-child {
    margin-left: 25px;
}

a.hero-btn {
    text-decoration: none;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-btn:hover,
.hero-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, .15);
}

.btn-light {
    background: #ff3c5f;
    color: #fff;
}

.btn-light:hover {
    background: #e61e46;
    color: #fff;
}

.btn-dark {
    background: #0c223d;
    color: #fff;
}

.btn-dark:hover {
    background: #09192c;
}

.btn-outline {
    border: 2px solid #ff3c5f;
    color: #ff3c5f;
}

.btn-outline:hover {
    background: #ff3c5f;
    color: #fff;
}


/* our-services-sec */

.our-services-sec {
    padding: 75px 0px 25px 0px;
}

.our-services-sec .container {
    max-width: 1300px !important;
    margin: auto;
}

.heading {
    text-align: center;
    margin-bottom: 70px;
}

.heading h2 {
    font-size: clamp(30px, 4vw, 48px);
    font-weight: 500;
    margin-bottom: 18px;
    color: #14213d;
    text-transform: uppercase;
}

.heading p {
    max-width: 850px;
    margin: auto;
    color: #666;
    line-height: 1.8;
    font-size: clamp(14px, 4vw, 17px);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 50px;
    align-items: start;
}

.left h2 {
    font-size: clamp(25px, 4vw, 32px);
    margin-bottom: 35px;
    color: #14213d;
}

.why_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.why_card {
    background: #fff;
    border-radius: 18px;
    padding: 28px;
    transition: .35s;
    border: 1px solid #eee;
}

.why_card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, .08);
}

.icon {
    width: 60px;
    height: 60px;
    background: #fff1f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 18px;
}

.why_card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #14213d;
}

.why_card p {
    color: #666;
    line-height: 1.7;
    font-size: 15px;
}

.right {
    background: #132847;
    color: #fff;
    border-radius: 20px;
    padding: 40px;
    position: sticky;
    top: 30px;
}

.right h2 {
    font-size: clamp(25px, 4vw, 32px);
    margin-bottom: 25px;
}

.why-features {
    list-style: none;
    margin-bottom: 30px;
    padding-left: 0px;
}

.why-features li {
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: 17px;
}

.why-features li:last-child {
    border: none;
}

.why-features li i {
    color: #ff3c5f;
    margin-right: 12px;
}

.right p {
    line-height: 1.9;
    color: #d8d8d8;
    margin-bottom: 25px;
    text-align: justify;
}

a.btn-why {
    text-decoration: none;
}

.btn-why {
    display: inline-block;
    background: #ff3c5f;
    color: #fff;
    padding: 14px 32px;
    border-radius: 50px;
    text-decoration: none;
    transition: .3s;
    font-weight: 600;
}

.btn-why:hover {
    background: #ff3c5f;
    color: #fff;
}


/*tool tip start here*/

.home_services {
    padding: 80px 8%;
    text-align: center;
}

.home_services h2 {
    font-size: clamp(21px, 4vw, 48px);
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}

.home_services h2 span {
    color: var(--peach);
}

.home_services p {
    color: #cfd8e3;
    margin-bottom: 60px;
    font-size: 18px;
}

.home_card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.home_card-wrapper a {
    text-decoration: none;
}

.home_card {
    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .1);
    /* backdrop-filter: blur(12px); */
    padding: 40px 25px;
    border-radius: 20px;
    transition: .4s;
}

.home_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .35);
    border-color: var(--peach);
}

.home_icon {
    width: 55px;
    height: 55px;
    margin: auto;
    border-radius: 50%;
    background: rgba(255, 77, 109, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--peach);
    margin-bottom: 25px;
    transition: .4s;
}

.home_icon i {
    color: var(--peach);
}

.home_card:hover .home_icon {
    background: var(--peach);
    color: #fff;
    transform: rotate(8deg) scale(1.1);
}

.home_card:hover .home_icon i {
    color: #fff;
}

.home_card h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.home_card p {
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    color: #d5dce5;
}

.welcome-modern {
    color: #fff;
    padding: 90px 20px;
    text-align: center;
}

.welcome-tag {
    display: inline-block;
    background: #ff3c5f20;
    color: #ff5c78;
    padding: 10px 22px;
    border-radius: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: clamp(14px, 4vw, 18px);
}

.welcome-modern h2 {
    font-size: clamp(24px, 4vw, 48px);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.welcome-modern h5 {
    font-size: clamp(14px, 4vw, 21px);
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.intro {
    max-width: 900px;
    margin: auto;
    color: #d7deea;
    line-height: 1.8;
    margin-bottom: 60px;
}

.wel_features {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    margin: 50px auto;
}

.wel_feature_item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    color: #132847;
    padding: 10px 15px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    transition: .35s;
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 500;
}

.wel_feature_icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3c5f;
    font-size: 18px;
    font-weight: 700;
}

.wel_pricing {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.wel_price_card {
    background: rgba(255, 255, 255, .06);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 24px;
    padding: 25px;
    text-align: center;
    transition: .35s;
    backdrop-filter: blur(15px);
}


/* .wel_price_card:hover {
    transform: translateY(-8px);
    border-color: #ff3c5f;
    box-shadow: 0 20px 45px rgba(0, 0, 0, .25);
}

.wel_price_card:hover .wel_price_icon {
    background-color: #ff3c5f;
} */


/* .wel_price_card:hover .wel_price_icon svg {
    filter: brightness(5) grayscale(1);
} */

.wel_price_icon {
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    background: rgba(255, 60, 95, .12);
    color: #ff3c5f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-bottom: 22px;
}

.wel_price_icon i {
    color: #ff3c5f;
}

.wel_price_card h3 {
    color: #fff;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 500;
    margin-bottom: 25px;
}

.wel_price_badge {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    background: rgba(255, 60, 95, .15);
    color: #ff3c5f;
    font-size: 14px;
    font-weight: 700;
}

.bottom-note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottom-note .text-shine {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #ff4d6d;
    font-size: clamp(14px, 4vw, 21px);
    font-weight: 600;
    padding: 12px 25px;
    background: linear-gradient(90deg, #ff3c5f 0%, #ffffff 50%, #ff3c5f 100%);
    background-size: 250% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShine 3s linear infinite;
}

@keyframes textShine {
    to {
        background-position: 250% center;
    }
}

.d_custom_home_img {
    position: relative;
}

.d_custom_home_img .memmber_info {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    background: #ff3c5a;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}

.d_custom_home_img .memmber_info i {
    color: #fff;
    font-size: 14px;
}

.trikon_style {
    background: #FFFFFF;
    padding: clamp(10px, 3vw, 20px) !important;
    font-size: clamp(14px, 4vw, 18px);
    position: relative;
    box-shadow: 2px 1px 12px 2px #7878789e;
    transition: transform 0.3s ease;
    overflow: visible;
    z-index: 1;
    animation: pulseWave 2s infinite;
    color: #ff3c5f;
}

@keyframes pulseWave {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 60, 95, .5), 2px 1px 12px 2px #7878789e;
    }
    70% {
        box-shadow: 0 0 0 18px rgba(255, 60, 95, 0), 2px 1px 12px 2px #7878789e;
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 60, 95, 0), 2px 1px 12px 2px #7878789e;
    }
}

.tip .trikon_style {
    position: absolute;
    padding: 0px;
    display: block;
    z-index: 100;
    left: 50%;
    bottom: -32px;
    transform: translate(-50%);
    text-decoration: none;
    border-radius: 100px;
    width: max-content;
}

@media(max-width:1024px) {
    .containers {
        grid-template-columns: 1fr;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    .register-section {
        padding: 100px 3%;
    }
    .home_services {
        text-align: center;
        padding: 80px 2%;
    }
}

@media(max-width:425px) {
    .welcome-modern {
        color: #fff;
        padding: 45px 0px;
        text-align: center;
    }
    .hero_features {
        flex-direction: column;
    }
    .wel_pricing {
        grid-template-columns: 1fr;
    }
    .wel_features {
        grid-template-columns: 1fr;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .buttons {
        flex-direction: column;
    }
    a.home-btn {
        text-decoration: none;
        display: inline;
    }
    .features {
        grid-template-columns: 1fr;
    }
    .left h2 {
        text-align: center;
    }
    .why_cards {
        grid-template-columns: 1fr;
    }
    .bottom-note .text-shine {
        padding: 10px 5px;
    }
}

@media (min-width: 426px) and (max-width:768px) {
    .wel_features {
        grid-template-columns: 1fr 1fr;
    }
}